# ==============================================================================
# 🔒 SECURE FILES & FOLDERS (DO NOT PUSH TO GITHUB)
# ==============================================================================

# 1. Environment Variables (Sensitive API Keys)
.env

# 2. Flutter/Dart standard generated folders
.dart_tool/
build/